body{
    margin: 0px;
}

#main{
    background-color: beige;
}

nav{
    background-color: lightblue;
    display: flex;
    flex-direction: row;
    height: 100px;
    padding: 20px;
  }

  nav ul{
    display: flex;
  }

  nav li{
    margin-left: 20px;
    list-style: none;
  }

  nav a{
    text-decoration: none;
    color:black
  }
  
  nav a:hover{
    color:brown
  }

  nav img{
    display: flex;
    max-height: 50px;
    width: auto;
  }

  .menubutton{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%
 }

  